<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SportsTime.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>14</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>763C48BC2BD68B70009B09EA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>763C48D52BD68B74009B09EA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>763C48DF2BD68B74009B09EA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
